#data
/data
/.vscode

#sensitive information

# unneeded header files
#SensorTx/MS5837.cpp
#SensorTx/MS5837.h
#SensorTx_v2/MS5837.cpp
#SensorTx_v2/MS5837.h

#screwaround tests
codeScribbles.py
codeScribbles2.py
serial_in_test.py
shmWriteTest.py
SMtests/
example.log
example2.log
/Keithley